body{
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    background-color: chocolate;    
}

header{
    background-color: chocolate;
    color: white;
    text-align: center;
    padding: 20px;
}

h1{
    border-bottom: 4px solid white;
    padding-bottom: 5px;
    width: 30%;
    margin: auto;
}

.container{
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

h2{
    font-size: 24px;
    margin: 20px 0;
    color: tomato;
}

.product{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.product img {
    width: 200px;
    height: 100px;
    display: block;
    margin-bottom: 10px;
}

a {
    color: #0077cc;
    text-decoration: none;
}

footer {
    background-color: chocolate;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-style: italic;
}